@import '../../../styles/color.scss';
.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
  .wrap {
    width: 80%;
    min-width: 850px;
    max-width: 80rem;
    height: 100%;
    padding-top: 12rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    .title {
      font-size: 36px;
      margin-bottom: 2rem;
    }
    .editTitle {
      width: 100%;
      font-size: 30px;
      color: $basicText;
      border: none;
      outline: none;
      margin-bottom: 2rem;
    }
    .header {
      display: flex;
      font-size: 16px;
      padding-bottom: 2rem;
      border-bottom: 2px solid $basicTheme;
      color: #999;
      .edit {
        cursor: pointer;
        &::before {
          content: '';
          border-right: 1px solid #999;
          margin: 0 1rem;
        }
      }
      .writer {
        display: flex;
        &::after {
          content: '';
          border-right: 1px solid #999;
          margin: 0 1rem;
        }
      }
    }
    .content {
      padding: 2rem;
      min-height: 50vh;
      font-size: 22px;
      p {
        margin: 1rem;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
