@import '../../../styles/color.scss';
.container {
  padding: 2rem 0;
  .title {
    font-size: 20px;
    text-align: center;
    display: flex;
    border-bottom: 2px solid $basicTheme;
    padding-bottom: 20px;
    .icon {
      color: $basicTheme;
    }
  }
  .addressWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 20px;
      cursor: pointer;
    }
    .address {
      width: 100%;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      margin: 1rem;
      color: $basicText;
      border: 1px solid #999;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }
}
